# ======================================================================================================================================
# Setup following with the values from your deployment, modify the values
# IMPORTANT: Do not put double quotes around the below environment variable values
# ======================================================================================================================================
#
AZURE_OPENAI_ENDPOINT=https://YOUR-RESOURCE.openai.azure.com/
AZURE_OPENAI_API_KEY=your-api-key
MODEL_DEPLOYMENT_NAME=xxxxxxx

