# ======================================================================================================================================
# Setup following with the values from your deployment, modify the values
# IMPORTANT: Do not put double quotes around the below environment variable values
# ======================================================================================================================================
#
AI_FOUNDRY_PROJECT_ENDPOINT=https://xxxxxxx.services.ai.azure.com/api/projects/xxxxx
AZURE_PROJECT_NAME=xxxxxxx
MODEL_DEPLOYMENT_NAME=xxxxxxx
TENANT_ID=xxxxxxx
PROJECT_ENDPOINT=https://xxxxxxx.services.ai.azure.com/api/projects/xxxxx
